h5 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

button {
    margin-top: 20px;
}

#tabelaPecas {
    width: 100%;
    margin-top: 30px;
}

#tabelaTitulo {
    font-size: 22px;
    text-align: center;
}

#tabelaItem {
    width: 20%;
}

#tabelaNome {
    width: 50%;
}

#tabelaPeso {
    width: 30%;
}